<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="initial-scale=1.0, user-scalable=no"> 
    <title>TravelPlan</title>
    <link rel="stylesheet" href="/static/css/travel.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
    {% verbatim %}
    <div id='app'>
        <el-container>
            <el-header>“LIFE IS EITHER A DARING ADVENTURE OR NOTHING AT ALL” ~ HELEN KELLER
            </el-header>
            <el-container>
            <el-aside width="300px">
                <el-timeline>
                    <el-timeline-item
                      v-for="(site, index) in site_list"
                      :key="index"
                      :timestamp="getTime(site.start_time)">

                      <el-tooltip placement="top">
                        <div slot="content">结束:{{getTime(site.end_time)}} <br/>地址:{{site.site_address}}<br/>说明:{{site.info}}</div>
                        <el-button type="primary" icon="el-icon-info" size="mini" @click="focus_on_site(site)" circle></el-button>
                     </el-tooltip>
                      {{site.site_name}}
                      <el-button type="danger" icon="el-icon-delete" size="mini" @click="delete_site_click(index)" circle></el-button>
                    </el-timeline-item>
                  </el-timeline>
                            
            
            </el-aside>
            <el-main>
                <el-row :gutter="20">
                    <el-col :span="10">
                        <el-input placeholder="城市名称" @change='city_search' v-model="city">
                            <template slot="prepend">旅行城市</template>
                        </el-input>
                    </el-col>
                    <el-col :span="10">
                        <el-autocomplete
                        class="inline-input"
                        v-model="site"
                        :fetch-suggestions="site_search"
                        placeholder="旅行地点"
                        @select="tip_select"
                      >
                      <template slot="prepend">旅行地点</template>
                    </el-autocomplete>

                    </el-col>
                    <el-col :span="4">
                        <el-button type="text" :disabled="selected_site_info === null" @click='add_planned_site_clicked'>添加</el-button>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="24">
                        <div id='map' :style='{width: mapWidth,height:mapHeight}'></div>
                    </el-col>
                </el-row>

                <el-dialog
                    title="添加旅行地点"
                    :visible.sync="dialog_visible"
                    width="60%">

                    <el-row>
                        <el-col :span="24">
                            <el-input :value="new_name" disabled>
                                <template slot="prepend">名称</template>
                            </el-input>
                        </el-col>
                    </el-row>

                    <el-row>
                        <el-col :span="24">
                            <el-input :value="new_address" disabled>
                                <template slot="prepend">地址</template>
                            </el-input>
                        </el-col>
                    </el-row>

                    <el-row>
                        <el-col :span="24">
                            <el-date-picker
                                v-model="new_date_range"
                                type="datetimerange"
                                range-separator="至"
                                start-placeholder="开始日期"
                                end-placeholder="结束日期">
                            </el-date-picker>
                        </el-col>
                    </el-row>

                    <el-row>
                        <el-col :span="24">
                            <el-input
                                type="textarea"
                                :autosize="{ minRows: 2, maxRows: 4}"
                                placeholder="请输入额外说明和注意事项"
                                v-model="new_info">
                            </el-input>

                        </el-col>
                    </el-row>



                    <span slot="footer" class="dialog-footer">
                    <el-button @click="dialog_visible = false">取 消</el-button>
                    <el-button type="primary" @click="new_planned_site">确 定</el-button>
                    </span>
                </el-dialog>
            </el-main>
            </el-container>
        </el-container>
    </div>

    {% endverbatim %}
    <p id="csrf-token" hidden>{{ csrf_token }}</p>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=991d082745181ac6da9358c8d6ee7b44"></script> 
    <script src="/static/js/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="/static/js/travel.js"></script>



</body>
</html>

