.el-header, .el-footer {
    color: #333;
    text-align: center;
    line-height: 60px;
  }

.el-aside{
  padding-top: 30px;
}
  
  .el-row {
    margin-bottom: 20px;
  }

  .el-aside {
    background-color: #d6d9dd;
  }